*{
    /* การกำหนด font */
    font-family:  Arial, sans-serif;

    /* กำหนด link style */
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-shadow: 0;
    transition: 0.5s;
}

    /* --------------Menu------------*/
  
    .container{
        max-width: 1140px;
        margin: 0 auto;
    }

    nav{
        background-color: #827d83;
        overflow: hidden;
    }

    .nav-con{
        display: flex;
       justify-content: space-between;
       list-style: none;
       margin-left: 10px;
       padding: 14px 16px;
    }

    .menu{
        display: flex;
        overflow: hidden;
    }

    .menu li{
        float: left;
        color: #000;
        list-style: none;
        margin-left: 10px;
        padding: 14px 16px;
    }

    .menu a:hover{
        background-color: #1b8cee;

    }

    .menu a:active{
        background-color: black;
        text-decoration: none;
        
    }

    a{
        color: rgb(212, 129, 194);
    }

    .logo{
        font-size: 30px;

    }
    /* ------dropdownmenu------- */
    /* navbar-container */
    .navbar{
        overflow: hidden;
        background-color: rgb(48, 89, 151);
        /* font-family:Impact, */
    }
    /* link inside navbar */
    .navbar a{
        float: left;
        font-size: 14px;
        color: #000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    /* dropdown-container */
    .dropdown{
        float: left;
        overflow: hidden;
    }
    /* dropdown-btn */
    .dropdown .dropdown{
        font-size: 14px;
        border: none;
        outline: none;
        color: #000;
        padding: 14px 16px;
        background-color: inherit;
        margin: 0;
    }
    .navbar a:hover,.dropdown:hover.dropbtn{
        background-color: lawngreen;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: lemonchiffon;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px #000;
        z-index: 1;
    }
    /* link inside dropdown */
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #000;
        min-width: 160px;
        box-sizing:  0px 8px 16px 0px #000 ;
        z-index: 1;
    }
    /* link inside dropdown */
    .dropdown-content a{
        float: none;
        color: lemonchiffon;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .dropdown-content a:hover{
        background-color: lemonchiffon;
    }
    .dropdown:hover.dropdown-content{
        display: block;
    }




/* table style */
.styled-table{
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
}
/* การตกแต่งหัวข้อตาราง */
.styled-table th{
    background-color: #1b8cee ; /*สีผืนหลังของหัวข้อ*/
    color: darkgray;
    text-align: center;
    padding : 12px 15px;
    font-size:16px;

}

/* ตกแต่งแถวของตาราง */
.styled-table td{
    text-align: center;
    padding: 12px 18px;
    border-collapse: collapse;
    border-bottom: 1px solid color ;
    font-size: 16px;
}


/* เปลี่ยนสีวางเมาส์ */
.styled-table tr:hover{
     background-color: rgb(66, 36, 148);
}

/* เพิ่มเส้นขอบรอบตาราง */
.styled-table , .styled-table th,.styled-table td{
    border: 1px solid #1b8cee;
}
  
/* ------profile------- */
.title{
    justify-content: center;
    padding: 12px;
    text-align: center;
}
.pic{
    display: flex;
    justify-content: center;
    padding: 10px;

}
.pich-item{
    max-width: 1140px;
    justify-content: center;
    text-align: center;
}
.pich-item img{
    width: 300px;
    border-radius: 100%;
    box-shadow: 0 0 10px #000;
    align-items: center;
    transition: 0.5s;
}
.pic-info img:hover{
    transform: scale(1.2);
}
.pich-item p{
    box-shadow: rgb(170, 169, 157);
    color: rgb(12, 12, 12);
}
.content{
    display: grid;
    grid-template-columns: repeat(3,ifr);
    max-width: 1140px;
    margin: 0 auto ;
    column-gap:5px;
    }
.content-item{
    padding: 12px;
    background-color: rgb(46, 103, 136);
    counter-reset:0 0 10px ;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 #6a6777; 
    column-gap: 10px;
}
.content-item1{
    border:1px #1b8cee solid;
    padding: 12px;
    background-color: rgb(46, 103, 136);
    counter-reset:0 0 10px ;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 #6a6777; 
    column-gap: 10px;
}
.content-item2{
    border:1px #1b8cee solid;
    padding: 12px;
    background-color: rgb(46, 103, 136);
    counter-reset:0 0 10px ;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 #6a6777; 
    column-gap: 10px;
}
